
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <!-- <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" > -->
  <div class="text-900 font-medium text-xl mb-3">Livestock Info Registration</div>

  <div class="surface-card p-4 shadow-2 border-round p-fluid">
      <div class="grid formgrid p-fluid">

        <!-- <div class="field mb-4 col-12 md:col-6">
          <label for="enterprise">Enterprise: </label><br>
          <input type="text" id="enterprise" name="enterprise"><br><br>
          </div> -->
          
          <div class="field mb-4 col-12 md:col-6">
            <label for="regId">Reg ID/Ear Tag (No ID/Tag Telinga): </label><br>
            <input type="text" pInputText [(ngModel)]="data1.id"> 
            <span class="ml-2"></span>
            </div>

            <div class="field mb-4 col-12 md:col-6">
              <label for="tagId">Tag ID: </label><br>
              <input type="text" pInputText [(ngModel)]="data1.tagid"> 
              <span class="ml-2"></span>
              </div>

          <div class="field mb-4 col-12 md:col-6">
            <label>Enterprise:</label>
          <p-dropdown [(ngModel)]="selectedEnterprise" [options]="EnterpriseList" optionValue="code" optionLabel="descp" [filter]="true" filterBy="descp" [showClear]="true" placeholder="Select enterprise">
            <ng-template let-enterprise pTemplate="item">
                <div class="flex align-items-center">
                    <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + fields.id" style="width:18px"/>-->
                    <div>{{enterprise.code}} - {{enterprise.descp}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        </div>

        <div class="field mb-4 col-12 md:col-6">
        <label>Livestock Name(Nama Ternakan):</label>
          <input type="text" pInputText [(ngModel)]="data1.name"> 
          <span class="ml-2"></span>
        </div>

        <div class="field mb-4 col-12 md:col-6">
          <label>Status(Status):</label>
            <input type="text" pInputText [(ngModel)]="data1.currstatus"> 
            <span class="ml-2"></span>
          </div>
         
          

          <!-- <div class="field mb-4 col-12 md:col-6">
            <label for="livestockname">Livestock Name(Nama Ternakan): </label><br>
            <input type="text" id="livestockname" name="livestockname"><br><br>
            </div> -->

        <!-- <div class="field mb-4 col-12 md:col-6">
             <label for="enterpriseInfo">Enterprise:</label><br>
             <select [(ngModel)]="selectedValue" name="enterpriseInfo" id="enterpriseInfo" >

                <option *ngFor="let enterpriseInfo of (enterprises|async)" [value]="enterpriseInfo.descp">
                  {{enterpriseInfo.code}}
                </option>
            </select>


          </div> -->

         

          <div class="field mb-4 col-12 md:col-6">
            <label for="dob">Date Of Birth (Tarikh Lahir): </label><br>
            <input type="date" id="dob" pInputText [(ngModel)]="data1.dob" showIcon="true" > 
					</div>

          

          <div class="field mb-4 col-12 md:col-6">
            <label>Sex(Jantina):</label>
          <p-dropdown [(ngModel)]="selectedSex" [options]="sex" optionValue="name" optionLabel="name" [filter]="true" filterBy="code" [showClear]="true" placeholder="Select sex">
            <ng-template let-sex pTemplate="item">
                <div class="flex align-items-center">
                    <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + fields.id" style="width:18px"/>-->
                    <div>{{sex.code}} - {{sex.name}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        </div>

        <div class="field mb-4 col-12 md:col-6">
          <label>Breed(Baka):</label>
        <p-dropdown [(ngModel)]="selectedBreed" [options]="BreedList" optionValue="code" optionLabel="descp" [filter]="true" filterBy="code" [showClear]="true" placeholder="Select breed">
          <ng-template let-breed pTemplate="item">
              <div class="flex align-items-center">
                  <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + fields.id" style="width:18px"/>-->
                  <div>{{breed.code}} - {{breed.descp}}</div>
              </div>
          </ng-template>
      </p-dropdown>
      </div>



      <!-- hyeweeg -->

              

                <div class="field mb-4 col-12 md:col-6">
                  <label for="blood">% Blood (Peratusan Baka): </label><br>
                  <input type="text" pInputText>
                <span class="ml-2"></span>
                  </div>

                  <div class="field mb-4 col-12 md:col-6">
                    <label for="origin">Origin(Asal): </label><br>
                    <input type="text" pInputText [(ngModel)]="data1.origin"> 
                    <span class="ml-2"></span>
                    </div>

                  

                    <div class="field mb-4 col-12 md:col-6">
                      <label for="date3">Date Purchased (Tarikh Pembelian): </label><br>
                      <input type="date" id="pdate" pInputText [(ngModel)]="data1.purchasedt" showIcon="true" > 
                      </div>

                      <!-- <div class="field mb-4 col-12 md:col-6">
                        <label for="pp">Price Paid(Harga Dibayar): </label><br>
                        <input type="text" pInputText [(ngModel)]="data1.purchaseamt"> 
                        <span class="ml-2"></span>
                        </div>  -->

                      <div class="field mb-4 col-12 md:col-6">
                          <label for="minmaxfraction">Price Paid(Harga Dibayar):</label>
                          <p-inputNumber [(ngModel)]="data1.purchaseamt" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5">
                          </p-inputNumber>
                      </div> 


       </div>
       </div>
                        <!-- <div class="field mb-4 col-12 md:col-6">
                          <label for="date4">Date Sold (Tarikh Dijual): </label><br>
                          <p-calendar inputId="basic" ></p-calendar>
                          </div> -->

                          

                              

                              <!-- <h5>Modal</h5>
<p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Show"></p-button>
<p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <p class="m-0">Ada ibu atau pejantan?</p>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayModal=false" label="YES" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-trash" (click)="displayModal=false" label="NO" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog> -->

<p-divider></p-divider>
<div class="text-900 font-medium text-xl mb-3">Pedigree Info</div>
<div class="surface-card p-4 shadow-2 border-round p-fluid">
  <div class="grid formgrid p-fluid">

   
<!-- <div class="field mb-4 col-12 md:col-6">
    <label for="username2" class="block">Dam(Ibu):</label>
    <input id="username2" type="username" aria-describedby="username2-help" class="ng-invalid ng-dirty" pInputText />
    <small id="username2-help" class="p-error block">please enter dam if dam not in dam list</small>
</div> -->

  
<div class="field mb-4 col-12 md:col-6">
  <label>Dam(Ibu):</label>
<p-dropdown [(ngModel)]="selectedDam" [options]="DamList" optionValue="id" optionLabel="name" [filter]="true" filterBy="id" [showClear]="true" placeholder="Select dam">
  <ng-template let-dam pTemplate="item">
      <div class="flex align-items-center">
          
          <div>{{dam.id}} - {{dam.name}}</div>
      </div>
  </ng-template>
</p-dropdown>
</div>

                              <div class="field mb-4 col-12 md:col-6">
                                  <label>Sire(Pejantan):</label>
                                <p-dropdown [(ngModel)]="selectedSire" [options]="SireList" optionValue="id" optionLabel="name" [filter]="true" filterBy="id" [showClear]="true" placeholder="Select sire">
                                  <ng-template let-sire pTemplate="item">
                                      <div class="flex align-items-center">
                                          
                                          <div>{{sire.id}} - {{sire.name}}</div>
                                      </div>
                                  </ng-template>
                              </p-dropdown>
                              </div>

                              <!-- <div class="field mb-4 col-12 md:col-6">
                                <label for="username2" class="block">Sire(Pejantan):</label>
                                <input id="username2" type="username" aria-describedby="username2-help" class="ng-invalid ng-dirty" pInputText />
                                <small id="username2-help" class="p-error block">please enter sire if sire not in sire list</small>
                            </div> -->
                          

                              
                            

      <div class="flex justify-center field mb-4 col-12 md:col-6">
        <button pButton pRipple label="Back" (click)="cancel()" icon="pi pi-times" class="mr-2 w-auto p-button-warning"></button> 
    <button pButton pRipple label="Save" (click)="save()" icon="pi pi-file" class="w-auto"></button>
  </div>
</div>
</div>
</div>
