
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <!-- <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" > -->
  <div class="text-900 font-medium text-xl mb-3">Livestock Info Registration</div>
  <div class="surface-card p-4 shadow-2 border-round p-fluid">
      <div class="grid formgrid p-fluid">

        <!-- <div class="field mb-4 col-12 md:col-6">
          <label for="enterprise">Enterprise: </label><br>
          <input type="text" id="enterprise" name="enterprise"><br><br>
          </div> -->

          <div class="field mb-4 col-12 md:col-6">
            <label>Enterprise:</label>
          <p-dropdown [(ngModel)]="selectedEnterprise" [options]="EnterpriseList" optionValue="code" optionLabel="descp" [filter]="true" filterBy="descp" [showClear]="true" placeholder="Select enterprise">
            <ng-template let-enterprise pTemplate="item">
                <div class="flex align-items-center">
                    <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + fields.id" style="width:18px"/>-->
                    <div>{{enterprise.code}} - {{enterprise.descp}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        </div>

        <div class="field mb-4 col-12 md:col-6">
        <label>Livestock Name(Nama Ternakan):</label>
          <input type="text" pInputText> 
          <span class="ml-2"></span>
        </div>
         

          <!-- <div class="field mb-4 col-12 md:col-6">
            <label for="livestockname">Livestock Name(Nama Ternakan): </label><br>
            <input type="text" id="livestockname" name="livestockname"><br><br>
            </div> -->

        <!-- <div class="field mb-4 col-12 md:col-6">
             <label for="enterpriseInfo">Enterprise:</label><br>
             <select [(ngModel)]="selectedValue" name="enterpriseInfo" id="enterpriseInfo" >

                <option *ngFor="let enterpriseInfo of (enterprises|async)" [value]="enterpriseInfo.descp">
                  {{enterpriseInfo.code}}
                </option>
            </select> 

          
          </div> -->

          <div class="field mb-4 col-12 md:col-6">
          <label for="dob">Date Of Birth (Tarikh Lahir): </label><br>
          <!-- <input type="date" id="dob" name="dob"> -->               
                <p-calendar inputId="basic" ></p-calendar>

          </div>

          <div class="field mb-4 col-12 md:col-6">
            <label>Sex(Jantina):</label>
          <p-dropdown [(ngModel)]="selectedSex" [options]="sex" optionValue="value" optionLabel="value" [filter]="true" filterBy="value" [showClear]="true" placeholder="Select sex">
            <ng-template let-sex pTemplate="item">
                <div class="flex align-items-center">
                    <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + fields.id" style="width:18px"/>-->
                    <div>{{sex.name}} - {{sex.value}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        </div>

        <div class="field mb-4 col-12 md:col-6">
          <label>Breed(Baka):</label>
        <p-dropdown [(ngModel)]="selectedBreed" [options]="BreedList" optionValue="code" optionLabel="descp" [filter]="true" filterBy="descp" [showClear]="true" placeholder="Select breed">
          <ng-template let-breed pTemplate="item">
              <div class="flex align-items-center">
                  <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + fields.id" style="width:18px"/>-->
                  <div>{{breed.code}} - {{breed.descp}}</div>
              </div>
          </ng-template>
      </p-dropdown>
      </div>

              <div class="field mb-4 col-12 md:col-6">
                <label for="regId">Reg ID/Ear Tag (No ID/Tag Telinga): </label><br>
                <input type="text" pInputText> 
                <span class="ml-2"></span>
                </div>

                <div class="field mb-4 col-12 md:col-6">
                  <label for="blood">% Blood (Peratusan Baka): </label><br>
                  <input type="text" pInputText> 
                <span class="ml-2"></span>
                  </div>

                  <div class="field mb-4 col-12 md:col-6">
                    <label for="origin">Origin(Asal): </label><br>
                    <input type="text" pInputText> 
                    <span class="ml-2"></span>
                    </div>

                    <div class="field mb-4 col-12 md:col-6">
                      <label for="date2">Date Deceased (Tarikh Kematian): </label><br>
                      <p-calendar inputId="basic" ></p-calendar>
                      </div>
                      
                  <div class="field mb-4 col-12 md:col-6">
                    <label for="cod">Cause Of Death(Punca Kematian): </label><br>
                    <input type="text" pInputText> 
                    <span class="ml-2"></span>
                    </div>

                    <div class="field mb-4 col-12 md:col-6">
                      <label for="date3">Date Purchased (Tarikh Pembelian): </label><br>
                      <p-calendar inputId="basic" ></p-calendar>
                      </div>

                      <div class="field mb-4 col-12 md:col-6">
                        <label for="pp">Price Paid(Harga Dibayar): </label><br>
                        <input type="text" pInputText> 
                        <span class="ml-2"></span>
                        </div>

                        <div class="field mb-4 col-12 md:col-6">
                          <label for="date4">Date Sold (Tarikh Dijual): </label><br>
                          <p-calendar inputId="basic" ></p-calendar>
                          </div>

                          <div class="field mb-4 col-12 md:col-6">
                            <label for="pr">Price Received(Harga Diterima): </label><br>
                            <input type="text" pInputText> 
                            <span class="ml-2"></span>
                            </div>

                            <div class="field mb-4 col-12 md:col-6">
                              <label for="buyer">Buyer(Pembeli): </label><br>
                              <input type="text" pInputText> 
                              <span class="ml-2"></span>
                              </div>

                              <div class="field mb-4 col-12 md:col-6">
                                <label for="disposal">Reason For Disposal(Alasan Penjualan): </label><br>
                                <input type="text" pInputText> 
                                <span class="ml-2"></span>
                                </div>

      <div class="flex justify-center">
        <button pButton pRipple label="Back" (click)="cancel()" icon="pi pi-times" class="mr-2 w-auto p-button-warning"></button> 
    <button pButton pRipple label="Save" (click)="save()" icon="pi pi-file" class="w-auto"></button>
  </div>
</div>
